# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and Models (Too large for Git)
data/
models/

# OS specific
.DS_Store
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
